resource "aws_instance" "{{ instance_name }}" {
  ami           = "{{ ami }}"
  key_name      = "{{ tag_name }}"
  instance_type = "{{ instance_type }}"
  tags          = {
    Name = "{{ tag_name }}"
  }
  instance_initiated_shutdown_behavior = "{{ shutdown_behavior }}"
  user_data_base64 = "{{ userdata }}"
  iam_instance_profile = aws_iam_instance_profile.s3_ec2_profile.name
}
