resource "aws_iam_role" "s3_iam_role" {

  assume_role_policy = <<EOF
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": "sts:AssumeRole",
      "Principal": {
        "Service": "ec2.amazonaws.com"
      },
      "Effect": "Allow",
      "Sid": ""
    }
  ]
}
EOF
}

resource "aws_iam_instance_profile" "s3_ec2_profile" {
  role = aws_iam_role.s3_iam_role.name
}

resource "aws_iam_role_policy" "s3_ec2_policy" {
  role = aws_iam_role.s3_iam_role.name

  policy = <<EOF
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "s3:PutObject",
        "s3:GetObject",
        "s3:ListBucket"
      ],
      "Effect": "Allow",
      "Resource": [
      "arn:aws:s3:::${aws_s3_bucket.output-bucket.bucket}",
      "arn:aws:s3:::${aws_s3_bucket.output-bucket.bucket}/*"]
    }
  ]
}
EOF
}

resource "aws_s3_bucket" "output-bucket" {
  acl    = "private"
  bucket = "{{ bucket_name }}"

  tags = {
    Name        = "{{ bucket_name }}"
  }
  force_destroy = true
}
